:root {
  --main-color: #ff9800;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
/* !Start Settings Box */
.settings-box {
  position: fixed;
  top: 0;
  left: -200px;
  width: 200px;
  height: 100vh;
  background: #fff;
  transition: 0.3s;
  z-index: 4;
  border: 1px solid #eee;
}
.settings-box.open {
  left: 0px;
}
.settings-box .settings-toggle {
  position: absolute;
  top: 100px;
  right: -30px;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
}
.settings-box .settings-toggle .fa-gear {
  width: 30px;
  padding: 8px 0;
}
.settings-box .settings-container .option-box {
  padding: 10px;
  margin: 10px;
  background-color: #eee;
  text-align: center;
}
.settings-box .settings-container .option-box h4 {
  margin: 0;
  color: #666;
  font-size: 14px;
}
.settings-box .settings-container .option-box .colors-list {
  list-style: 0;
  text-align: center;
  padding: 0;
  margin: 10px 0 0;
}
.settings-box .settings-container .option-box .colors-list li {
  display: inline-block;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  opacity: 0.5;
  transition: 0.3s;
  cursor: pointer;
  border: 3px solid #eee;
}
.settings-box .settings-container .option-box .colors-list li.active {
  opacity: 1;
  border-color: #fff;
}
.settings-box .settings-container .option-box .colors-list li:nth-child(1) {
  background-color: #ff9800;
}
.settings-box .settings-container .option-box .colors-list li:nth-child(2) {
  background-color: #e91363;
}
.settings-box .settings-container .option-box .colors-list li:nth-child(3) {
  background-color: #009688;
}
.settings-box .settings-container .option-box .colors-list li:nth-child(4) {
  background-color: #03a9f4;
}
.settings-box .settings-container .option-box .colors-list li:nth-child(5) {
  background-color: #4caf50;
}
.settings-box .option-box .yes,
.settings-box .option-box .no {
  width: 50px;
  margin-top: 10px;
  background-color: var(--main-color);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  padding: 4px 10px;
  font-weight: bold;
  border-radius: 4px;
  opacity: 0.5;
  transition: 0.3s;
}
.settings-box .option-box span.active {
  opacity: 1;
}
.settings-box .rest-option {
  background-color: #f44336;
  border: none;
  width: 178px;
  display: block;
  margin: 10px auto;
  padding: 10px;
  font-weight: bold;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}
/* !End Settings Box */

/* !Start Nav Bullets */
.nav-bullets {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  z-index: 6;
}
.nav-bullets .bullet {
  transition: 0.3s;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 3px solid var(--main-color);
  margin: 20px auto;
  cursor: pointer;
  position: relative;
}
.nav-bullets .bullet .tooltip {
  position: absolute;
  width: 120px;
  padding: 8px 10px;
  background-color: var(--main-color);
  color: #fff;
  right: 32px;
  top: -10px;
  transition: 0.3s;
  text-align: center;
  cursor: default;
  pointer-events: none;
  display: none;
}
.nav-bullets .bullet .tooltip::before {
  content: "";
  border-width: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -20px;
  border-style: solid;
  border-color: transparent transparent transparent var(--main-color);
}
.nav-bullets .bullet:hover .tooltip {
  display: block;
}
/* !End Nav Bullets */

/* !Start Landing Page */
.landing-page {
  min-height: 100vh;
  background-image: url("../imgs/01.jpg");
  background-size: cover;
  position: relative;
}
.landing-page .overlay {
  background-color: rgb(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.header-area {
  position: relative;
  z-index: 6;
  display: flex;
  color: #fff;
  padding: 10px;
}
.header-area .logo {
  width: 300px;
  padding: 15px;
  font-weight: bold;
}
.header-area .links-container {
  width: 100%;
  text-align: right;
}
.header-area .links {
  list-style: none;
  padding-left: 0;
}
.header-area .links li {
  display: inline-block;
  margin-left: 10px;
}
.header-area .links li a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}
.header-area .links li a:hover,
.header-area .links li a.active {
  color: var(--main-color);
}
.header-area .toggle-menu {
  display: none;
  border: none;
  background: none;
  width: 40px;
  margin-top: 15px;
  cursor: pointer;
  position: relative;
}
.header-area .toggle-menu.menu-active:before {
  content: "";
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #fff;
  position: absolute;
  bottom: -15px;
  left: 10px;
}
.header-area .toggle-menu:focus {
  outline: none;
}
.header-area .toggle-menu span {
  height: 4px;
  display: block;
  margin-bottom: 4px;
  background-color: #fff;
}
.introduction-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 2;
  text-align: center;
}
@media (max-width: 991px) {
  .introduction-text {
    width: 95%;
  }
}
.introduction-text h1 {
  font-size: 34px;
  margin: 0 0 12px;
}
@media (max-width: 575px) {
  .introduction-text h1 {
    font-size: 26px;
  }
}
.introduction-text h1 span {
  transition: 0.3s;
  color: var(--main-color);
}
.introduction-text p {
  margin: 0;
  font-size: 20px;
  line-height: 1.6;
}
@media (max-width: 991px) {
  .header-area .links {
    display: none;
  }
  .header-area .links.open {
    display: block;
    background-color: #fff;
    padding: 10px;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    border-radius: 4px;
    text-align: left;
  }
  .header-area .links.open li {
    display: block;
    margin: 10px;
  }
  .header-area .links.open li a {
    font-weight: bold;
    color: var(--main-color);
  }
  .header-area .toggle-menu {
    display: inline-block;
  }
}
/* !End Landing Page */

/* !Start About Us */
.about-us {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
}
@media (max-width: 767px) {
  .about-us {
    display: block;
    text-align: center;
  }
}
.about-us .info-box {
  flex: 1;
  padding: 30px;
}
@media (max-width: 767px) {
  .about-us .info-box {
    padding: 0;
  }
}
.about-us .info-box h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 10px;
}
.about-us .info-box p {
  line-height: 1.8;
  color: #767676;
}
.about-us .image-box {
  flex: 1;
  text-align: center;
}
.about-us .image-box img {
  width: 250px;
}
/* !End About Us */

/* !Start skills */
.skills {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;
}
.skills h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 50px;
  transition: 0.3s;
  text-align: center;
}
.skills .skill-box {
  background-color: #fff;
  padding: 15px;
  display: flex;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .skills .skill-box {
    display: block;
  }
}
.skills .skill-box .skill-name {
  width: 140px;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
}
@media (max-width: 767px) {
  .skills .skill-box .skill-name {
    width: 100%;
    margin-bottom: 15px;
  }
}
.skills .skill-box .skill-progress {
  height: 30px;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}
.skills .skill-box .skill-progress span {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  height: 100%;
  width: 0;
  background-color: var(--main-color);
  transition: all 0.5s;
}
/* !End skills */

/* !Start Gallery */
.gallery {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.gallery h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 50px;
  transition: 0.3s;
  text-align: center;
}
.gallery .images-box {
  text-align: center;
}
.gallery .images-box img {
  width: 200px;
  padding: 3px;
  background-color: #f6f6f6;
  border: 1px solid #ccc;
  margin: 5px;
  cursor: pointer;
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.7);
  z-index: 5;
}
.popup-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 15px;
  z-index: 6;
}
.popup-box h3 {
  font-weight: bold;
  text-align: center;
  margin: 0 0 20px;
  color: var(--main-color);
}
.popup-box img {
  max-width: 100%;
}
.popup-box .close-btn {
  position: absolute;
  top: -15px;
  right: -15px;
  color: #fff;
  background-color: var(--main-color);
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  font-family: arial, tahoma;
  border-radius: 50%;
}
/* !End Gallery */

/* !Start TimeLine */
.timeline {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;
}
.timeline .timeline-content {
  position: relative;
  overflow: hidden;
}
.timeline .timeline-content::before {
  content: "";
  width: 2px;
  height: 100%;
  background-color: var(--main-color);
  position: absolute;
  left: 50%;
  margin-left: -1px;
  top: 0;
}
.timeline .timeline-content .year {
  margin: 20px auto;
  width: 50px;
  background-color: var(--main-color);
  position: relative;
  z-index: 2;
  font-weight: bold;
  border-radius: 4px;
  text-align: center;
  padding: 2px 5px;
  color: #fff;
}
.timeline .timeline-content .left,
.timeline .timeline-content .right {
  position: relative;
  width: calc(50% - 25px);
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .timeline .timeline-content .left,
  .timeline .timeline-content .right {
    width: 100%;
    margin-bottom: 20px;
  }
}
.timeline .timeline-content .left {
  float: left;
}
.timeline .timeline-content .left::before,
.timeline .timeline-content .right::before {
  content: "";
  height: 14px;
  width: 14px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  background-color: #fff;
  border: 3px solid var(--main-color);
}
.timeline .timeline-content .left::before {
  right: -35px;
}
.timeline .timeline-content .right {
  float: right;
}
.timeline .timeline-content .right::before {
  left: -35px;
}
@media (max-width: 767px) {
  .timeline .timeline-content .left::before,
  .timeline .timeline-content .right::before {
    display: none;
  }
}
.timeline .timeline-content .content {
  padding: 20px;
  background-color: #fff;
}
.timeline .timeline-content .content h3 {
  color: var(--main-color);
  margin: 0 0 10px;
  font-weight: bold;
}
.timeline .timeline-content .content p {
  color: #666;
  line-height: 1.6;
  margin: 0;
}
.clearfix {
  clear: both;
}
.timeline .timeline-content .left .content::before,
.timeline .timeline-content .right .content::before {
  content: "";
  border-style: solid;
  position: absolute;
  top: 20px;
  border-width: 10px;
}
.timeline .timeline-content .left .content::before {
  border-color: transparent transparent transparent #fff;
  right: -20px;
}
.timeline .timeline-content .right .content::before {
  border-color: transparent #fff transparent transparent;
  left: -20px;
}
@media (max-width: 767px) {
  .timeline .timeline-content .left .content::before,
  .timeline .timeline-content .right .content::before {
    display: none;
  }
}
/* !End TimeLine */

/* !Start Featers */
.featers {
  padding: 80px 0;
}
.featers h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 60px;
  text-align: center;
}
.featers .feater-box {
  width: calc(100% / 3);
  float: left;
  margin-bottom: 40px;
  text-align: center;
}
@media (max-width: 991px) {
  .featers .feater-box {
    width: calc(100% / 2);
  }
}
@media (max-width: 575px) {
  .featers .feater-box {
    width: 100%;
  }
}
.featers .feater-box img {
  width: 96px;
}
.featers .feater-box h4 {
  font-size: 22px;
  margin: 15px 0 40px;
  position: relative;
}
.featers .feater-box h4::before {
  content: "";
  width: 40px;
  height: 4px;
  background-color: var(--main-color);
  position: absolute;
  left: 50%;
  margin-left: -20px;
  bottom: -22px;
}
.featers .feater-box p {
  width: 80%;
  margin: 0 auto;
  line-height: 1.7;
  color: #706f6f;
}
/* !End Featers */

/* !Start Testimoniales */
.tetimoniales {
  position: relative;
  padding: 60px 0;
}
.tetimoniales::before {
  transition: 0.3s;
  content: "";
  width: 50%;
  height: 100%;
  background-color: var(--main-color);
  position: absolute;
  top: 0%;
  left: 0;
}
.tetimoniales::after {
  content: "";
  width: 50%;
  height: 100%;
  background-color: #333;
  position: absolute;
  top: 0%;
  right: 0;
}
.tetimoniales h2 {
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  margin: 0 0 30px;
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  .tetimoniales h2 {
    text-align: center;
  }
}
.tetimoniales .ts-box {
  background-color: #fff;
  padding: 20px;
  width: calc(98% / 3);
  float: left;
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  .tetimoniales .ts-box {
    width: 100%;
    margin-bottom: 15px;
  }
}
.tetimoniales .ts-box:not(:last-of-type) {
  margin-right: 1%;
}
.tetimoniales .ts-box > p {
  margin: 0 0 20px;
  line-height: 1.5;
  color: #707070;
  font-style: italic;
  font-size: 18px;
}
.tetimoniales .ts-box .person-info {
  overflow: hidden;
}
@media (max-width: 991px) {
  .tetimoniales .ts-box .person-info {
    overflow: visible;
    text-align: center;
  }
}
.tetimoniales .ts-box .person-info img {
  float: left;
  border-radius: 50%;
  margin-right: 20px;
}
@media (max-width: 991px) {
  .tetimoniales .ts-box .person-info img {
    float: none;
    margin-right: 0;
  }
}
.tetimoniales .ts-box .person-info h4 {
  margin: 14px 0 10px;
}
.tetimoniales .ts-box .person-info p {
  color: #707070;
  margin: 0;
}
/* !End Tetimoniales */

/* !Start Contact US */
.contact {
  min-height: 600px;
  background-image: url("../imgs/contact.png");
  background-size: cover;
  padding: 80px 0;
  position: relative;
}
.contact .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}
.contact .container {
  position: relative;
  z-index: 2;
}
.contact h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 60px;
  text-align: center;
}
.contact form {
  overflow: hidden;
  max-width: 800px;
  margin: auto;
}
.contact form .left {
  float: left;
  width: 49%;
}
.contact form .right {
  float: right;
  width: 49%;
}
@media (max-width: 767px) {
  .contact form .left,
  .contact form .right {
    float: none;
    width: 100%;
  }
}
.contact form input:not([type="submit"]),
.contact form textarea {
  display: block;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  width: 100%;
  border: 1px solid #ccc;
  background-color: rgba(218, 218, 218, 0.19);
  transition: 0.3s;
  border-color: transparent;
}
.contact form input:not([type="submit"]):focus,
.contact form textarea:focus {
  outline: none;
  border: 3px solid var(--main-color);
}
.contact form input {
  height: 40px;
}
.contact form textarea {
  height: 150px;
}
.contact form input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: var(--main-color);
  font-weight: bold;
  color: #fff;
  border-color: transparent;
  cursor: pointer;
}
.contact form textarea:focus:-webkit::placeholder,
.contact form input:not([type="submit"]):focus:-webkit::placeholder {
  opacity: 0;
  transition: 0.3s;
}
.contact form textarea:focus:-ms::placeholder,
.contact form input:not([type="submit"]):focus:-ms::placeholder {
  opacity: 0;
  transition: 0.3s;
}
.contact form textarea:focus::placeholder,
.contact form input:not([type="submit"]):focus::placeholder {
  opacity: 0;
  transition: 0.3s;
}
/* !End Contact US */
/* !Start Footer */
.footer {
  background-color: #333;
  color: #EEE;
  padding: 20px;
  text-align: center;
}
/* !End Footer */

/* ?Start Grid System */
@media (min-width: 576px) {
  /*! Small Devices => LandScape Phones */
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  /*! Medium Devices => Tablet */
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  /*! Desktops */
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  /*! Larger Screen */
  .container {
    max-width: 1140px;
  }
}
/* ?End Grid System */
